


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color:rgb(230, 182, 191);
            font-family: Arial, sans-serif;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around; /* Adjust as needed */
            height: 100vh; /* Ensure full viewport height */
            margin: 0;
        }

        img {
            margin-top: 0px; /* Adjust margin as needed */
            max-width: 100%; /* Ensure image doesn't exceed container width */
            margin-left: 0px;
            margin-right: 0px;
            width:100%;
        }

        .button {
            margin-top: 10px; /* Add space between buttons */
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color:aquamarine;
            border: none;
            border-radius: 5px;
            /* box-shadow:; */
        }

        .button:hover {
            background-color: #45a049;
        }

        .new {
            background-color: #2196F3;
            box-shadow: 0 4px #1565c0;
        }

        .new:hover {
            background-color: #1e88e5;
        }

        .review {
            background-color: #FFC107;
            box-shadow: 0 4px #ffab00;
        }

        .review:hover {
            background-color: #ff9800;
        }

        .ongoing {
            background-color: #FF5722;
            box-shadow: 0 4px #e64a19;
        }

        .ongoing:hover {
            background-color: #e64a19;
        }

        .det{
            ;
        }
    </style>
</head>
<body>

    
    <img  src="C:\Users\sandip Tated\Downloads\new_logo.jpg">
    <button class="button new">New</button>
    <button class="button review">Review</button>
    <button class="button ongoing">Ongoing</button>

    <p style="color:aliceblue"> Contact us:9088798733 </p>
    <p style="color:aliceblue">email:helpcenter@gmail.com</p>
</body>
</html> 
